.page {
  height: 100vh;
}

.page--about {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.page--about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}

.header {
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color;
  width: 60%;
  height: 70px;
}

.header--brand {
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,5,179,1) 27%, rgba(121,22,110,1) 100%);
  font-family: "Roboto Medium";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.header--nav-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header--nav-item {
  margin: 0 1rem;
  font-size: 18px;
  font-weight: 500;
  color: $color-1;
  text-decoration: none;
}

.header--nav-item-active {
  color: $color-2;
  font-weight: 800;
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
  }

  .header--brand {
    display: none;
  }

  .header--nav-group {
    flex-direction: column;
  }
}