body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page--main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page--about {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page--about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.page--contact-content {
  justify-content: space-evenly;
}

.page--bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.page--about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60%;

  h2 {
    color: $color-primary-0;
    font-family: "Roboto Light";
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }

  p {
    color: $color-primary-0;
    font-family: "Roboto Light";
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}

.bg-gradiant {
  background: linear-gradient(
    90deg,
    $color-primary-0,
    $color-primary-2,
    $color-secondary-1-1
  )
}

.header {
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color;
  width: 60%;
  height: 10vh;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $color-primary-0;
}

.header--brand {
  color: $color-primary-1;
  font-family: "Roboto Medium";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.header--bars {
  display: none;
}

.header--nav-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header--nav-item {
  margin: 0 1rem;
  font-size: 18px;
  color: $color-primary-0;
  text-decoration: none;
}

.header--nav-item:hover {
  font-family: 'Roboto Medium';
  color: $color-secondary-1-1;
  cursor: pointer;
}

.header--nav-item-active {
  font-family: 'Roboto Medium';
  font-weight: 500;
  color: $color-secondary-1-4;
}

.chevron {
  font-size: 24px;
}

.chevron-primary {
  color: $color-primary-0;
  animation: pulse 1.5s infinite;
}

.chevron-white {
  color: #ffffff;
  animation: pulse2 1.5s infinite;
}

.chevron:hover {
  cursor: pointer;
}

.chevron-down:active {
  color: $color-secondary-1-1;
}

.chevron-up--container {
  align-self: initial;
  margin-top: 8rem;
}

.chevron-down--container {
  align-self: center;
  margin-bottom: 2rem;
}

.social-icon {
  font-size: 48px;
  margin: 0 1rem;
  color: $color-primary-0;
}

.social-icon:hover {
  color: $color-primary-1;
}

.social-icon:active {
  color: $color-primary-4;
}

@keyframes pulse {
  0% {
    color: $color-primary-0;
  }
  50% {
    color: #8888ff;
  }
  100% {
    color: $color-primary-0;
  }
}

@keyframes pulse2 {
  0% {
    color: #ffffff;
  }
  50% {
    color: #aaaaaa;
  }
  100% {
    color: #ffffff;
  }
}

.skill-group--container {
  color: #eeeeee;
  height: 50vh;
  width: 20vw;

  ul {
    padding-left: 0;
  }
}

.skill-group--title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}

.skill-group--item {
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  line-height: 26px;
}

.text-link {
  font-family: 'Roboto Medium';
  color: $color-secondary-1-4;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 2.5rem;
  }

  .header--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    width: 90%;
  }

  .header--bars {
    display: block;
    position: static;
    color: $color-primary-0;
    font-size: 24px;
  }

  .header--bars:hover {
    color: $color-primary-1;
  }

  .header--bars:active {
    color: $color-secondary-2-1;
  }

  .header--nav-group {
    display: none;
  }

  .header--nav-group.open {
    display: flex;
    width: 100%;
    background: #ffffff;
    padding: 1rem;
  }

  .page--about-content {
    flex-direction: column;
  }

  .page--about-text-container {
    width: 100%;

    h2 {
      font-size: 24px;
      line-height: 24px;
    }

    p {
      font-size: 18px;
      line-height: 18px;
      text-align: left;
    }
  }

  .page--skill-content {
    flex-direction: column;
    padding-top: 1rem;
    height: 80%;
  }

  .hero-avatar--container {
    display: none;
  }

  .chevron-up--container {
    margin-top: 4rem;
  }

  .skill-group--container {
    flex-direction: row;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .skill-group--title {
    font-size: 18px;
    border-bottom-style: none;
  }

  .skill-group--item {
    font-size: 14px;
    line-height: 18px;
  }

  .social-icon {
    font-size: 28px;
  }
}
